/* 
    *************************************
              HEADER 
    *************************************
*/

header {
  position: relative;
}

.hero-box {
  display: flex;
  gap: 6.4rem;
  align-items: center;
}

/* MOBILE MENU BUTTON */
.btn__mobile-menu {
  display: none;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  color: var(--main-color);
  font-size: 2.4rem;
  font-weight: 600;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(226, 154, 36, 0.5);
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 998;
}

nav {
  display: inline-block;
  align-self: flex-start;
}

.menu-items {
  gap: 1.2rem;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 3.2rem;
  padding-top: 3.2rem;
  transition: all 0.3s;
}

.mobile {
  position: fixed;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 997;
  padding: 3.2rem;
  padding-left: 6.4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s;
}

.bi.bi-chevron-left,
.bi.bi-chevron-right {
  color: var(--main-color);
}

.menu-item {
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-dark-color);
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}

.menu-item:hover {
  color: #fff;
}

.hero.text-box {
  display: inline-flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 60%;
  align-items: center;
}

.line {
  width: 50%;
  height: 0.3rem;
  background-color: var(--primary-color);
  margin: 3.2rem 0;
}

.line:last-child {
  width: 100%;
  margin-top: 0;
}

.descr {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
}

.btn__sub,
.btn__map,
.btn__join,
.btn__buy {
  border: 3px solid var(--primary-color);
  width: 30rem;
}

.earth-img {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  width: 40%;
  z-index: -1;
}

.grid-img {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.soc-box {
  align-self: flex-start;
  margin-top: 3.2rem;
}

.soc-title {
  font-size: 1.8rem;
  color: var(--main-dark-color);
  margin-bottom: 1.2em;
}

.soc-items {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.soc-icon {
  display: flex;
  align-items: center;
}

.bi:hover {
  transform: scale(1.1);
}

/* 
    *************************************
              APP SECTION 
    *************************************
*/

.feature-section,
.partners-section,
.app-section {
  position: relative;
  background-image: url(../img/goldenwave.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.vawes {
  position: relative;
  overflow: hidden;
}

.grid-vawes-img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -2;
}
