/* 
    *************************************
        BELOW 928px Tablet
    *************************************
*/

@media (max-width: 58em) {
  .subtitle__white {
    margin-top: 3.2rem;
  }

  .text-box:first-child {
    padding-left: 0;
  }

  .text-box:last-child {
    padding-right: 0;
  }

  .coin.text-box:first-child {
    margin-bottom: 4.8rem;
  }

  .content-box {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .coin.content-box {
    row-gap: 0;
  }

  .img-box {
    width: 70%;
    justify-self: center;
  }

  .coin.img-box {
    justify-content: flex-end;
  }

  .img-box:nth-child(2) {
    grid-row: 1;
  }
}

/* 
    *************************************
        BELOW 768px Small Tablet
    *************************************
*/

@media (max-width: 48em) {
  :root {
    --section-padding: 4.8rem 0;
  }

  .apps {
    gap: 3.2rem;
    padding: 10rem 0;
  }
}

/* 
    *************************************
        BELOW 544px Phone
    *************************************
*/

@media (max-width: 34em) {
  .app-img {
    width: 65%;
  }

  .subtitle__white {
    margin-top: 8.6rem;
  }

  .img-box {
    width: 90%;
  }
}
