/* 
    *************************************
              APP SECTION 
    *************************************
*/

.app-section {
  position: relative;
  background-image: url(../img/goldenwave.png);
  /* , url(../img/goldweb2.png); */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.vawes {
  position: relative;
  overflow: hidden;
}

.grid-vawes-img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -2;
}

.apps {
  padding: 16rem 0 9.6rem 0;
}

.app-img {
  display: block;
  margin: 2.4rem auto;
  width: 55%;
  cursor: pointer;
  transition: all 0.3s;
}

.app-img:hover {
  transform: scale(1.05);
}

.subtitle__white {
  color: #fff;
  text-align: center;
  margin: 4.8rem 0 3.2rem 0;
  text-shadow: 0 0 5rem var(--main-color);
}

/* 
    *************************************
              COIN SECTION 
    *************************************
*/

.coin-section {
  padding: var(--section-padding);
}

.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 9.6rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  width: 100%;
}

.text-box:first-child {
  padding-left: 2.4rem;
}

.text-box:last-child {
  padding-right: 2.4rem;
}

.descr-title {
  font-size: 6.2rem;
  color: var(--primary-color);
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.coin-img {
  width: 80%;
}

/* 
    *************************************
              DISTRIBUTION SECTION 
    *************************************
*/
.distribution-section {
  padding: var(--section-padding);
}

.subtitle__gold {
  color: var(--primary-color);
}

.golden {
  color: var(--primary-color);
  font-weight: 600;
}

.distribution-img {
  width: 100%;
}

.distribition.text-box {
  position: relative;
}

.btn__full {
  position: absolute;
  bottom: 0.1rem;
  left: -18rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
}

.btn__full:hover {
  color: var(--main-color);
}

/* 
    *************************************
              MAP SECTION 
    *************************************
*/

.map-section {
  padding: var(--section-padding);
}

.map-img {
  display: block;
  width: 100%;
}

.square-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.2rem;
  padding: 0 6.4rem;
}

.square {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--main-dark-color);
}

/* 
    *************************************
              FOOTER 
    *************************************
*/

footer {
  padding: 9.6rem 0 0 0;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}

.footer-box {
  width: 25%;
}

.footer-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

#empty-title {
  visibility: hidden;
}

.footer.menu-items {
  list-style: none;
  padding: 0;
  gap: 2.4rem;
}

.footer.menu-item {
  text-align: center;
  padding: 2rem 2.4rem;
}

.soc-box.footer {
  display: none;
  margin-top: 0;
  width: 100%;
}

.soc-box.footer > .soc-items {
  gap: 0;
  justify-content: space-between;
}

.copyright {
  display: block;
  margin: 4.8rem auto;
  margin-top: 9.6rem;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}
