@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100%;
  color: #333;
  /* background-image: linear-gradient(to top left, #0b184e 0%, #a3841d 100%); */
  background-image: url('img/bg_top.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 50rem;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  /* border-radius: 9px; */

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.player {
  flex: 50%;

  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.score {
  font-size: 7rem;
  font-weight: 300;
  text-align: center;
  color: #5a0e24;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #5a0e24;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 50%;
  padding: 1rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #ddd;
}

.current-score {
  font-size: 3rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 3%;
  /* color: #444; */
  background: none;
  border: none;
  /* font-family: inherit; */
  /* font-size: 3rem; */
  /* text-transform: uppercase; */
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  /* background-color: rgb(90, 14, 36); */
  /* background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px); */

  padding: 0.5rem 2rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 3rem;
  display: inline-block;
  /* margin-right: 0.3rem; */
}

.btn--new {
  top: 1rem;
  display: inline-block;
}
.btn--roll {
  top: 85vh;
  left: 70%;
}
.btn--hold {
  top: 85vh;
  left: 5%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 47%;
  /* transform: translateY(-50%); */
  transform: translateX(-50%);
  height: 7rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  /* rotation
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform; */
}

/* .dice:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
} */

.player--winner {
  background-color: #f8b674;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
